# Ігнорувати файли створені IDE
.idea/

# Ігнорувати файли створені текстовим редактором Vim
*.swp

# Ігнорувати файли створені текстовим редактором Emacs
*~

# Ігнорувати файли тимчасових кешів, що створюються різними програмами
*.cache

# Ігнорувати файли встановленої середи Python
venv/

# Ігнорувати файли встановленої середи Node.js
node_modules/

